.grid_4 img {
    max-height: 310px;
    margin-left: -50px;
    border-radius: 5px;
}

.textDeco {
    text-decoration: underline #319197;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.imgBottom{
    max-height: 350px;
    border-radius: 12px;
    transition: transform 0.2s;
}

.imgBottom:hover {
    filter: drop-shadow(20px 10px 4px rgb(59, 181, 197));
    transform: scale(1.05);
}

.imgVictimLoss2 {
    display: block;
    margin: 0 auto;
    width:280px;
}

.imgScamQuestion1 {
    display:block;
    margin:0 auto;
    filter: drop-shadow(20px 10px 4px #4444dd);
}


#icon_1 {
    background-color: #10569b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 9px;
    padding-top: 30px;
    transition: transfrom 0.2s;
}

#icon_2 {
    background-color: rgba(255, 95, 37, 0.973);
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0 0;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 9px;
    padding-top: 30px;
}

#icon_3 {
    background-color: burlywood;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0 0;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 9px;
    padding-top: 30px;
}

.grid_4 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-top: 50px;
}

.answers {
    margin-top: 18px;
}

.answers div {
    margin-bottom: 25px;
}

.answers a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 95, 37, 0.568);
    text-align: center;
    text-decoration: none;
    height: 80px;
    cursor: pointer;
}

.answers a:hover {
    background-color: rgba(255, 230, 86, 0.726);
}

.icon:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px cadetblue;
}

.questions {
    font-size: 20px;
    padding: 0;
    margin: 10px;
    background-color: #ddaf938e;
    text-align: center;
    vertical-align: bottom;
    line-height: 45px;
    border-radius: 9px;
}

.questions2 {
   
    font-size: 20px;
    padding: 0;
    margin: 10px;
    margin-top: 100px;
    background-color: #ddaf938e;
    text-align: center;
    vertical-align: bottom;
    line-height: 45px;
    border-radius: 9px;
}

.bar {
    text-decoration: underline overline #CA9F85;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.carousel {
    width: 600px;
    margin: 0 auto;
}

.questionBox {
    margin-top: 30px;
}

.caseContent {
    padding:0;
}